@model IronRock.Objects.MotorProposal
            
       <div class="form-group">
            @Html.LabelFor(model => model.IsRegularDriverOfVehicle, new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.IsRegularDriverOfVehicle)
                @Html.ValidationMessageFor(model => model.IsRegularDriverOfVehicle)
            </div>
        </div>

        <div class="form-group col-md-12">
            <table class="col-md-10">
                <thead><tr style="background-color:whitesmoke"><th colspan="2"><label>Will anyone driving your motor vehicle:</label> </th></tr></thead>
                <tr style="border:1px solid whitesmoke;"><td class="col-md-4"><label>In respect of Private Cars</label> </td><td>
                    <div class="form-group">                       
                        <div class="col-md-6"> 
                            @Html.CheckBoxFor(model => model.PrivateCarUnder21YearOld)
                            @Html.LabelFor(model => model.PrivateCarUnder21YearOld, new { @class="control-label"})
                        </div>
                    </div>
                    <div class="form-group">                       
                        <div class="col-md-6">                            
                            @Html.CheckBoxFor(model => model.PrivateCarUnder24MonthsExperience)
                            @Html.LabelFor(model => model.PrivateCarUnder24MonthsExperience)                           
                        </div>
                    </div>
                </td></tr>
                <tr style="border:1px solid whitesmoke;"><td class="col-md-4"><label>In respect of Private Commercial</label></td><td>
                    <div class="form-group">                       
                        <div class="col-md-6">
                            @Html.CheckBoxFor(model => model.CommercialUnder23YearOld)
                            @Html.LabelFor(model => model.CommercialUnder23YearOld)
                        </div>
                    </div>
                    <div class="form-group">                        
                        <div class="col-md-6">
                            @Html.CheckBoxFor(model => model.CommercialUnder36MonthsExperience)
                            @Html.LabelFor(model => model.CommercialUnder36MonthsExperience)
                        </div>
                    </div>
                </td></tr>
                <tr style="border:1px solid whitesmoke;"><td class="col-md-4"><label>In respect of General Cartage</label></td><td>
                    <div class="form-group">                        
                        <div class="col-md-6">
                            @Html.CheckBoxFor(model => model.GeneralUnder25YearOld)   
                            @Html.LabelFor(model => model.GeneralUnder25YearOld)
                        </div>
                    </div>
                    <div class="form-group">                        
                        <div class="col-md-6">
                            @Html.EditorFor(model => model.GeneralUnder5YearsExperience)  
                            @Html.LabelFor(model => model.GeneralUnder5YearsExperience)
                        </div>
                    </div>
                </td></tr>
            </table>
        </div>          
       
        <div class="form-group">
            @Html.LabelFor(model => model.PhysicalMentalInfirmityDetail, new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.CheckBoxListFor(model => model.PhysicalMentalInfirmityDetail,IronRock.Objects.PhysicalMentalInfirmity.Other.ToSelectListValue().OrderBy(x=>x.Value))
                @Html.ValidationMessageFor(model => model.PhysicalMentalInfirmityDetail)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TrafficTickets, new { @class = "control-label col-md-2" })
            <div class="col-md-1">
                @Html.EditorFor(model => model.TrafficTickets)               
            </div>
            
            @Html.LabelFor(model => model.TrafficTicketsDetails, new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.TextBoxFor(model => model.TrafficTicketsDetails, new { @class="form-control"})
                @Html.ValidationMessageFor(model => model.TrafficTicketsDetails)
            </div>
        </div>
      
        <div class="form-group">
            @Html.LabelFor(model => model.ModificationToVehicle, new { @class = "control-label col-md-2" })
            <div class="col-md-4">
               @Html.TextBoxFor(model => model.ModificationToVehicle, new { @class="form-control"})
                @Html.ValidationMessageFor(model => model.ModificationToVehicle)
            </div>
        </div>

  
