@model IronRock.Objects.MotorProposal
    <link href="~/assets/plugins/bootstrap-datepicker/css/datepicker.css" rel="stylesheet" type="text/css"/>
<link href="~/assets/plugins/bootstrap-datetimepicker/css/datetimepicker.css" rel="stylesheet" type="text/css">

        <fieldset><legend>Personal Information</legend>
           <div class="form-group">
                @Html.LabelFor(model => model.TRN, new { @class = "control-label col-md-2" })
                <div class="col-md-2">
                    @Html.TextBoxFor(model => model.TRN, new { @class="form-control"})
                    @Html.ValidationMessageFor(model => model.TRN)
                </div>
            </div>

            <div class="form-group"> 
                 @Html.LabelFor(model => model.Title, new { @class = "control-label col-md-2" })
                <div class="col-md-1">
                    @Html.TextBoxFor(model => model.Title, new { @class="form-control"})
                    @Html.ValidationMessageFor(model => model.Title)
                </div>
                      
                
                @Html.LabelFor(model => model.Surname, new { @class = "control-label col-md-1" })
                <div class="col-md-3">
                    @Html.TextBoxFor(model => model.Surname, new { @class="form-control"})    
                    @Html.ValidationMessageFor(model => model.Surname)        
                </div>

                @Html.LabelFor(model => model.FirstName, new { @class = "control-label col-md-1" })
                <div class="col-md-3">
                    @Html.TextBoxFor(model => model.FirstName, new { @class="form-control"})
                    @Html.ValidationMessageFor(model => model.FirstName)
                </div>
            </div>
        
            <div class="form-group">
                @Html.LabelFor(model => model.MiddleName, new { @class = "control-label col-md-2" })
                <div class="col-md-2">
                    @Html.TextBoxFor(model => model.MiddleName, new { @class="form-control"})
                    @Html.ValidationMessageFor(model => model.MiddleName)
                </div>

                 @Html.LabelFor(model => model.OtherNames, new { @class = "control-label col-md-2" })
                <div class="col-md-3">
                    @Html.TextBoxFor(model => model.OtherNames, new { @class="form-control"})
                    @Html.ValidationMessageFor(model => model.OtherNames)
                </div>
            </div>
       
            <div class="form-group">
                @Html.LabelFor(model => model.MothersMaidenName, new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.TextBoxFor(model => model.MothersMaidenName, new { @class="form-control"})
                    @Html.ValidationMessageFor(model => model.MothersMaidenName)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Occupation, new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.DropDownListFor(model => model.Occupation, new List<SelectListItem>(),String.Empty, new { @class="form-control"})
                    @Html.ValidationMessageFor(model => model.Occupation)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.PlaceOfBirth, new { @class = "control-label col-md-2" })
                <div class="col-md-3">
                   @Html.TextBoxFor(model => model.PlaceOfBirth, new { @class="form-control"})
                   @Html.ValidationMessageFor(model => model.PlaceOfBirth)
                </div>

                @Html.LabelFor(model => model.DateOfBirth, new { @class = "control-label col-md-2" })
                <div class="col-md-2">
                    @Html.TextBoxFor(model => model.DateOfBirth, new { @class="form-control date date-picker"})
                    @Html.ValidationMessageFor(model => model.DateOfBirth)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Nationality, new { @class = "control-label col-md-2" })
                <div class="col-md-2">
                    @Html.TextBoxFor(model => model.Nationality, new { @class="form-control"})
                    @Html.ValidationMessageFor(model => model.Nationality)
                </div>
            </div>

           <div class="form-group">
                @Html.LabelFor(model => model.SourceOfFunds, new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                   @Html.TextBoxFor(model => model.SourceOfFunds, new { @class="form-control"})
                   @Html.ValidationMessageFor(model => model.SourceOfFunds)
                </div>
            </div>
       </fieldset>

       <fieldset><legend>Contact Information</legend>
           <div class="form-group">
                @Html.LabelFor(model => model.MobileNumber, new { @class = "control-label col-md-2" })
                <div class="col-md-2">
                    @Html.TextBoxFor(model => model.MobileNumber, new { @class="form-control"})
                    @Html.ValidationMessageFor(model => model.MobileNumber)
                </div>

                @Html.LabelFor(model => model.HomeNumber, new { @class = "control-label col-md-2" })
                <div class="col-md-2">
                    @Html.TextBoxFor(model => model.HomeNumber, new { @class="form-control"})
                    @Html.ValidationMessageFor(model => model.HomeNumber)
                </div>

                @Html.LabelFor(model => model.WorkNumber, new { @class = "control-label col-md-2" })
                <div class="col-md-2">
                   @Html.TextBoxFor(model => model.WorkNumber, new { @class="form-control"})
                   @Html.ValidationMessageFor(model => model.WorkNumber)
                </div>
            </div>       

            <div class="form-group">
                @Html.LabelFor(model => model.Email, new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.TextBoxFor(model => model.Email, new { @class="form-control"})
                    @Html.ValidationMessageFor(model => model.Email)
                </div>
            </div>        
        </fieldset>
        
        <fieldset><legend>Driver's Licence</legend>
            <div class="form-group">
                @Html.LabelFor(model => model.DriversLicenceNumber, new { @class = "control-label col-md-2" })
                <div class="col-md-2">
                    @Html.TextBoxFor(model => model.DriversLicenceNumber, new { @class="form-control"})
                    @Html.ValidationMessageFor(model => model.DriversLicenceNumber)
                </div>
            
                @Html.LabelFor(model => model.DriversLicenceClass, new { @class = "control-label col-md-2" })
                <div class="col-md-2">
                    @Html.TextBoxFor(model => model.DriversLicenceClass, new { @class="form-control"})
                    @Html.ValidationMessageFor(model => model.DriversLicenceClass)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.DriversLicenceOriginalIssueDate, new { @class = "control-label col-md-2" })
                <div class="col-md-2">
                    @Html.TextBoxFor(model => model.DriversLicenceOriginalIssueDate, new { @class="form-control"})
                    @Html.ValidationMessageFor(model => model.DriversLicenceOriginalIssueDate)
                </div>

                @Html.LabelFor(model => model.DriversLicenceExpiryDate, new { @class = "control-label col-md-2" })
                <div class="col-md-2">
                    @Html.TextBoxFor(model => model.DriversLicenceExpiryDate, new { @class="form-control"})
                    @Html.ValidationMessageFor(model => model.DriversLicenceExpiryDate)
                </div>
            </div>
       </fieldset>

        <fieldset><legend>Address(es)</legend>
            <div class="form-group col-md-12" >               
                <div class="col-md-6" style="">
                    @Html.LabelFor(model => model.HomeAddress, new { @class = "col-md-12", style="padding-left:35%;font-weight:800;" })
                    @{Html.RenderPartial("_address", Model.HomeAddress);}
                </div>

                <div class="col-md-6">                    
                     @Html.LabelFor(model => model.MailingAddress, new { @class = "col-md-12", style="padding-left:35%;font-weight:800;" })
                    @{Html.RenderPartial("_address", Model.MailingAddress);}
                </div>
           </div>
        </fieldset>
        <fieldset>
            <legend>Employer Details</legend>
                <div class="form-group">
                    @Html.LabelFor(model => model.EmployerName, new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.TextBoxFor(model => model.EmployerName, new { @class="form-control"})
                        @Html.ValidationMessageFor(model => model.EmployerName)
                    </div>

                     @Html.LabelFor(model => model.EmployerTelephoneNumbers, new { @class = "control-label col-md-2" })
                    <div class="col-md-2">
                        @Html.TextBoxFor(model => model.EmployerTelephoneNumbers, new { @class="form-control"})
                        @Html.ValidationMessageFor(model => model.EmployerTelephoneNumbers)
                    </div>
                </div>
                <div class="form-group col-md-6">
                    @{Html.RenderPartial("_address", Model.EmployerAddress);}
                </div>                          
        </fieldset>

        <fieldset><legend>Public Office</legend> 
            <div class="form-group">
                <label class="control-label col-md-10" style="text-align:left">Have you or any relative been entrusted with prominent public functions ? (Check if Yes)<input type="checkbox" id="optionPublicOffice" /> </label> 
            </div>

            <div class="form-group">                 
                    @Html.LabelFor(model => model.TypeOfProminentPublicOffice, new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.TextBoxFor(model => model.TypeOfProminentPublicOffice, new { @class="form-control"})
                        @Html.ValidationMessageFor(model => model.TypeOfProminentPublicOffice)
                    </div>
            </div>
            <div>
                
                 <table class="col-md-10">
                     <thead><tr><td colspan="3">Please give the name and address of spouse and children</td></tr></thead>
                     <tr style="background-color:whitesmoke"><th class="col-md-2"></th><th class="col-md-4">Full Name</th><th class="col-md-6">Address</th></tr>
                     <tr><th style="text-align:center; background-color:whitesmoke">Spouse</th><td>@Html.TextBoxFor(model => model.Spouse.FullName, new { @class="form-control"})</td><td>@Html.TextBoxFor(model => model.Spouse.Address, new { @class="form-control"})</td></tr>
                      @for (int x = 0; x <= 1; x++)
                      {                
                     <tr>
                        <th style="text-align:center; background-color:whitesmoke">Child @(x+1)</th>
                         <td>@Html.TextBoxFor(model => model.Children[x].FullName, new { @class="form-control"})</td><td>@Html.TextBoxFor(model => model.Children[x].Address, new { @class="form-control"})</td>
                     </tr>                   
                      }
                 </table> 
            </div>
        </fieldset>


        

  
